.container {
    display: grid;

}

#green {
    background-color: #8ffda7;
    grid-area: 1 / 1 / span 1 / span 3;

}

#orange {
    background-color: #ffc788;
    grid-area: 3 / 1 / span 2 / span 2;

}

#yellow {
    background-color: #ffff92;
    float: right;

}

#red {
    background-color: #ff919c;

}

#blue {
    background-color: #98d2ff;
    grid-area: 2 / 3 / span 3 / span 1;
}

.number {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.letter{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
ul {
    padding: 0;
   
}

li {
    background-color: white;
    padding: 1em;
    display: block;
    margin: 1em;
}