.mobile {
    display: none;
}

.tablet {
    display: none;
}

@media screen and (max-width: 375px) {
    .desktop,
    .tablet {
        display: none;
    }

    .mobile {
        display: block;
    }
  }

@media (min-width: 375px) and (max-width: 768px) {
    .desktop,
    .mobile {
        display: none;
    }
    .tablet {
        display: flex;
    }
}
